In [30]:
# Import Dependencies
import pandas as pd
import os

In [31]:
# File to Load
csvpath = os.path.join('Resources','books_clean.csv')

# Read the modified GoodReads csv and store into Pandas DataFrame
goodbooks_df = pd.read_csv(csvpath)

In [32]:
# Calculate the number of unique authors in the DataFrame
goodbooks_df["Authors"].nunique()

4664

In [34]:
# Calculate the earliest/latest year a book was published
goodbooks_df["Publication Year"].min()

-1750.0

In [35]:
goodbooks_df["Publication Year"].max()

2017.0

In [41]:
# Calculate the total reviews for the entire dataset
onestar = goodbooks_df["One Star Reviews"].sum()
onestar

13450406

In [37]:
twostar = goodbooks_df["Two Star Reviews"].sum()
threestar = goodbooks_df["Three Star Reviews"].sum()
fourstar = goodbooks_df["Four Star Reviews"].sum()
fivestar = goodbooks_df["Five Star Reviews"].sum()

In [42]:
# Hint: use the pandas' sum() method to get the sum for each row
Totalreviewcount = (onestar + twostar + threestar + fourstar + fivestar)
Totalreviewcount

596873216

In [48]:
# Place all of the data found into a summary DataFrame
Summary_Books = {
    "Authors": [4664],
    "Earliest Publication Year": [-1750],
    "Latest Publication Year": [2017],
    "Total Review Count": [596873216]
}

Gbooks_df = pd.DataFrame(Summary_Books)
Gbooks_df

,Authors,Earliest Publication Year,Latest Publication Year,Total Review Count
0,4664,-1750,2017,596873216